%menu
  %button.songs
  %button.extras
%content
%controls
  %button.back
  %button.playback
  %button.forward
  %shuttle
    %button
  %display
    %mix_title
    %track_title
    %time
      (
      %current
      ='/'
      %total
      )
  %volume
    %button

